TOKEN=main bot token

BADOSZ=badosz api
LEMPEK=lempek api *ignore*

LAVALINK_URL=lavalink ip:port
LAVALINK_PASSWORD=lavalink password

RETHINK_HOST=rethink ip
RETHINK_PORT=rethink port
RETHINK_DB=rethink database name
RETHINK_USER=rethink user
RETHINK_PASSWORD=rethink password

DASHBOARD_DOMAIN=http://localhost
DASHBOARD_PORT=3000
DASHBOARD_CLIENT_ID=oauth2 application id
DASHBOARD_CLIENT_SECRET=oauth2 application secret

WEBHOOK_ALL_COMMANDS=discord webhook link
WEBHOOK_IMAGE_COMMANDS=discord webhook link
WEBHOOK_GUILD=discord webhook link

DEV=false
DEV_TOKEN=dev bot token
DEV_RETHINK_DB=dev bot rethink database name
DEV_DASHBOARD_DOMAIN=http://localhost
DEV_DASHBOARD_PORT=3000
DEV_DASHBOARD_CLIENT_ID=dev oauth2 application id
DEV_DASHBOARD_CLIENT_SECRET=dev oauth2 application secret