        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="og:site_name" content="BunBun">
        <meta property="og:title" content="BunBun">
        <meta name="twitter:title" content="BunBun">
        <meta property="og:description" content="Multi purpose discord bot website">
        <meta name="twitter:description" content="Multi purpose discord bot website">
        <meta name="theme-color" content="#1cd41c">
        <link rel="shortcut icon" href="/img/favicon.ico" />
        <link rel="icon" href="/img/favicon.ico" />
        <link rel='stylesheet' type="text/css" href='/css/style.css' />
        <script src="/js/theme.js" defer></script>
        <script src="/js/cookie.js" defer></script>
        <script src="https://kit.fontawesome.com/8efaac3db9.js" crossorigin="anonymous"></script>
        <title><%= title %></title>