.nav-par {
    float: left;
    display: block;
    color: var(--nav-text-primary);
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 16px;
}

.navbar {
    background-color: var(--nav-bg-primary);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.nav-lempek {
    font-size: 20px;
    padding: 16px;
    transition: var(--nav-transition-speed);
}

.logo {
    height: 45px;
    border-radius: 100%;
    padding: 0px;
    margin: 5px 10px;
}

.bold {
    font-weight: bold;
}

.nav-txt {
    font-size: 20px;
    font-weight: bold;
    padding-right: 10px;
    transition: var(--nav-transition-speed);
}

.nav-icon {
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    transition: var(--nav-transition-speed);
}

.navbar a {
    float: left;
    display: block;
    color: var(--nav-text-primary);
    text-align: center;
    text-decoration: none;
    transition: var(--nav-transition-speed);
}

.navbar a:hover {
    background-color: var(--nav-bg-secondary);
    color: var(--nav-text-secondary);
}

.navbar .nav-icona {
    float: right;
    padding: 8px;
    transition: var(--nav-transition-speed);
}

.navbar button {
    border: none;
    display: block;
    color: var(--nav-text-primary);
    background-color: var(--nav-bg-primary);
    text-align: center;
    text-decoration: none;
    transition: var(--nav-transition-speed);
}

.navbar button:hover,
.navbar button:focus {
    background-color: var(--nav-bg-secondary);
    color: var(--nav-text-secondary);
}

.dropbtn {
    background-color: var(--nav-bg-primary);
    color: var(--nav-text-primary);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtnsma {
    background-color: var(--nav-bg-primary);
    color: var(--nav-text-primary);
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--nav-bg-secondary);
    min-width: 160px;
    overflow: auto;
    z-index: 1;
    right: 0;
}

.dropdown-content .a {
    color: var(--nav-text-secondary);
    padding: 10px;
    margin: 0 auto;
    min-width: 140px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: var(--nav-bg-primary);
    color: var(--nav-text-primary);
}

.show {
    display: block;
}

.ino {
    font-size: 20px;
    padding: 16px;
    float: left;
    display: block;
    color: var(--nav-text-primary);
    text-align: center;
    text-decoration: none;
}

.sel {
    margin-top: 10px;
    border: none;
    color: var(--but-text);
    background-color: var(--but-bg-primary);
    border-radius: 100px;
    padding: 10px;
}

@media screen and (max-width: 800px) {
    .ino {
        display: none;
    }
}