:root {
  --nav-text-primary: #000;
  --nav-text-secondary: #000;
  --nav-bg-primary: #000;
  --nav-bg-secondary: #000;
  --but-text: #000;
  --but-bg-primary: #000;
  --but-bg-secondary: #000;
  --bg: #000;
  --box-bg: #000;
  --box-bg2: #000;
  --box-bg-line: #000;
  --text1: #000;
  --text2: #000;
  --scrollbar-bg: #000;
  --scrollbar: #000;
}

.light {
  --nav-text-primary: #000;
  --nav-text-secondary: #000;
  --nav-bg-primary: #bdbdbd;
  --nav-bg-secondary: #a7a7a7;
  --but-text: #000;
  --but-bg-primary: #b4b4b4;
  --but-bg-secondary: #a7a7a7;
  --bg: #fff;
  --box-bg: #ddd;
  --box-bg2: #c4c4c4;
  --box-bg-line: #8f8f8f;
  --text1: #000;
  --text2: #000;
  --scrollbar-bg: #000;
  --scrollbar: #e9e9e9;
}

.dark {
  --nav-text-primary: #d6d6d6;
  --nav-text-secondary: #fdfdfd;
  --nav-bg-primary: #222222;
  --nav-bg-secondary: #2e2e2e;
  --but-text: #d8d8d8;
  --but-bg-primary: #5a5a5a;
  --but-bg-secondary: #6d6d6d;
  --bg: #3a3a3a;
  --box-bg: #333333;
  --box-bg2: #444444;
  --box-bg-line: #3f3f3f;
  --text1: #b4b4b4;
  --text2: #b4b4b4;
  --scrollbar-bg: #000000;
  --scrollbar: #c9c9c9;
}

* {
  margin: 0px;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--bg);
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}

body::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
}

.colp {
  color: var(--text1);
}

.colp2 {
  color: var(--text2);
}

.butta {
  background-color: var(--but-bg-primary);
}

.center {
  text-align: center;
}

@media screen and (min-width:701px) {
  .txtch {
    font-size: 2.8vw;
  }

  .txtchsmall {
    font-size: 2.8vw;
  }
}

@media screen and (max-width: 700px) {
  .txtch {
    font-size: 22px;
  }

  .txtchsmall {
    font-size: 16px;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



/* I won't lie I just copied it from w3schools */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  z-index: 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #838383;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked+.slider {
  background-color: #2196F3;
}

.switch input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}