$navbar-height: var(--navbar-height);

.navbar {
  background-color: var(--navbar-background-primary);
  position: fixed;
  width: 100%;
  height: $navbar-height;
  top: 0;
  z-index: 1;
}

.lempekText {
  background-color: var(--lempek-color);
  transition: 300ms;
  position: absolute;
  font-size: 25px;
  height: $navbar-height;
  line-height: $navbar-height;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.navbar {
  button {
    border: none;
    display: block;
    color: var(--navbar-text-primary);
    background-color: var(--navbar-background-primary);
    text-align: center;
    text-decoration: none;
  }

  a {
    float: left;
    display: block;
    color: var(--navbar-text-primary);
    text-align: center;
    text-decoration: none;
  }

  .loginNav {
    transition: 400ms;
    float: right;
    height: $navbar-height;
    padding: 0 20px;
    line-height: $navbar-height;
    color: var(--navbar-text-primary);
    background-color: var(--navbar-background-primary);
    font-size: 20px;
    text-align: center;
  }
}

.dropdown {
  position: relative;
  display: inline;
  float: right;
}

.dropdown-content {
  position: absolute;
  background-color: var(--navbar-background-primary);
  display: none;
  min-width: 160px;
  z-index: 1;
  right: 0;
  overflow: auto;

  a {
    background-color: var(--navbar-background-primary);
    padding: 10px;
    margin: 0 auto;
    min-width: 140px;
    text-decoration: none;
    display: block;
    font-size: 20px;
  }
}

.drop-button {
  transition: 400ms;
  background-color: var(--navbar-background-primary);
  color: var(--navbar-text-primary);
  font-size: 25px;
  border: none;
  cursor: pointer;
  height: $navbar-height;
  padding: 0 18px;
}

.custom-select {
  position: relative;
  display: flex;
  width: 90%;
  height: 3em;
  line-height: 3;
  background-color: var(--select-background-primary);
  overflow: hidden;
  border-radius: 20px;
  margin: 10px auto;

  select {
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0;
    flex: 1;
    padding: 0 16px;
    color: var(--text-primary);
    background-color: var(--select-background-primary);
    cursor: pointer;
  }
}

.custom-select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 10px;
  color: var(--text-primary);
  background-color: var(--select-background-primary);
  cursor: pointer;
  pointer-events: none;
  filter: brightness(80%);
}

.arrowChangeNavbar::after {
  content: '\25B2';
}

.show {
  display: block;
}

.dropdown a {
  transition: 300ms;
}

:is(.light, .lempek) {
  .navbar {
    button:is(:hover,:focus) {
      filter: brightness(80%);
    }

    a:hover {
      filter: brightness(70%);
    }

    .loginNav:hover {
      filter: brightness(80%);
    }
  }
  .dropdown-content {
    filter: brightness(90%);
  }
  .lempekText {
    filter: brightness(90%);
  }
}

:is(.dark, .amoled) {
  //.custom-select::after {
  //  filter: brightness(150%);
  //}
  .navbar {
    button:is(:hover,:focus) {
      filter: brightness(130%);
    }

    a:hover {
      filter: brightness(140%);
    }

    .loginNav:hover {
      filter: brightness(130%);
    }
  }
  .dropdown-content {
    filter: brightness(120%);
  }
  .lempekText {
    filter: brightness(80%);
  }
}

.dark .dropdown-content {
  filter: brightness(90%);
}


//.nav-par {
//  float: left;
//  display: block;
//  color: var(--nav-text-primary);
//  text-align: center;
//  text-decoration: none;
//  font-size: 18px;
//  padding: 16px;
//}
//
//.navbar {
//  background-color: var(--nav-bg-primary);
//  position: fixed;
//  width: 100%;
//  top: 0;
//  z-index: 1;
//}
//
//.nav-lempek {
//  font-size: 20px;
//  padding: 16px;
//  transition: var(--nav-transition-speed);
//}
//
//.logo {
//  height: 45px;
//  border-radius: 100%;
//  padding: 0px;
//  margin: 5px 10px;
//}
//
//.bold {
//  font-weight: bold;
//}
//
//.nav-txt {
//  font-size: 20px;
//  font-weight: bold;
//  padding-right: 10px;
//  transition: var(--nav-transition-speed);
//}
//
//.nav-icon {
//  font-size: 20px;
//  font-weight: bold;
//  padding-left: 5px;
//  padding-right: 5px;
//  transition: var(--nav-transition-speed);
//}
//
//.navbar a {
//  float: left;
//  display: block;
//  color: var(--nav-text-primary);
//  text-align: center;
//  text-decoration: none;
//  transition: var(--nav-transition-speed);
//}
//
//.navbar a:hover {
//  background-color: var(--nav-bg-secondary);
//  color: var(--nav-text-secondary);
//}
//
//.navbar .nav-icona {
//  float: right;
//  padding: 8px;
//  transition: var(--nav-transition-speed);
//}
//
//.navbar button {
//  border: none;
//  display: block;
//  color: var(--nav-text-primary);
//  background-color: var(--nav-bg-primary);
//  text-align: center;
//  text-decoration: none;
//  transition: var(--nav-transition-speed);
//}
//
//.navbar button:hover,
//.navbar button:focus {
//  background-color: var(--nav-bg-secondary);
//  color: var(--nav-text-secondary);
//}
//
//.dropbtn {
//  background-color: var(--nav-bg-primary);
//  color: var(--nav-text-primary);
//  padding: 16px;
//  font-size: 16px;
//  border: none;
//  cursor: pointer;
//}
//
//.dropbtnsma {
//  background-color: var(--nav-bg-primary);
//  color: var(--nav-text-primary);
//  padding: 8px;
//  font-size: 16px;
//  border: none;
//  cursor: pointer;
//}
//
//.dropdown {
//  position: relative;
//  display: inline;
//  float: right;
//}
//
//.dropdown-content {
//  display: none;
//  position: absolute;
//  background-color: var(--nav-bg-secondary);
//  min-width: 160px;
//  overflow: auto;
//  z-index: 1;
//  right: 0;
//}
//
//.dropdown-content .a {
//  color: var(--nav-text-secondary);
//  padding: 10px;
//  margin: 0 auto;
//  min-width: 140px;
//  text-decoration: none;
//  display: block;
//}
//
//.dropdown a:hover {
//  background-color: var(--nav-bg-primary);
//  color: var(--nav-text-primary);
//}
//
//.show {
//  display: block;
//}
//
//.ino {
//  font-size: 20px;
//  padding: 16px;
//  float: left;
//  display: block;
//  color: var(--nav-text-primary);
//  text-align: center;
//  text-decoration: none;
//}
//
//.sel {
//  margin-top: 10px;
//  border: none;
//  color: var(--but-text);
//  background-color: var(--but-bg-primary);
//  border-radius: 100px;
//  padding: 10px;
//}
//
//@media screen and (max-width: 800px) {
//  .ino {
//    display: none;
//  }
//}