<nav>
    <img src="/img/bunGreen.svg" alt="BunDev" class="logo">
    <a href="/" class="bold">BUNDEV</a>

    <div class="bigScreen">
        <a href="/login" class="right">Login</a>
        <a href="https://lempek.dev" class="right">Blog</a>
        <!--    <a href="https://api.lempek.dev" class="right">API</a>-->
    </div>
    <div class="smallScreen">

        <a href="/login" class="right">Login</a>
        <a href="https://lempek.dev" class="right">Blog</a>
        <!--    <a href="https://api.lempek.dev" class="right">API</a>-->
    </div>
</nav>